@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  /* .no-scrollbar::-webkit-scrollbar {
      display: none;
  } */

  ::-webkit-scrollbar {
    background: repeating-conic-gradient(#bdbebd 0, #bdbebd 25%, #fff 0, #fff 50%) 50% / 2px 2px;
    width: 20px; /* width of the entire scrollbar */
}

/* Scrollbar handle */
::-webkit-scrollbar-thumb {
    background: #bdbebd;
    border-color: #fafafa #5a5a5a #5a5a5a #fafafa;
    border-style: solid;
    border-width: 1.5px;
    outline: #dbdbdb;
  }
::-webkit-scrollbar-button {

  height: 10px; 
}
/* Scrollbar corner */
::-webkit-scrollbar-corner {
    background-color: #c0c0c0; /* match the track */
}

 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}

@font-face {
  font-family: "Ms Sans Serif";
  src: url("../public/ms-sans-serif-1/ms-sans-serif-1.ttf");
}

}
 body {
  /* fixed may change later */
  font-family: "MS Sans Serif";
  background-color: #008080;
  /* background-image: url("./assets/WindowsBg/win95bg.jpg"); */
  background-size: cover;
}

#resume, #close, #resize {
    align-items: center;
    background: #c3c3c3;
    border-color: #fafafa #5a5a5a #5a5a5a #fafafa;
    border-style: solid;
    border-width: 1px;
    box-shadow: 1px 1px #000;
    display: flex;
    font-size: 20px;
    font-weight: 700;
    height: 19px;
    justify-content: center;
    margin-left: 2px;
    width:18px;
}

#start{
  background: silver;
  border-color: #fafafa #5a5a5a #5a5a5a #fafafa;
  box-shadow: 1.5px 1.5px #000;
}

#menu{
    background: #c3c3c3;
    border-color: #fafafa #5a5a5a #5a5a5a #fafafa;
    border-style: solid;
    border-width: 2px 1.5px 1.5px 2px;
    box-shadow: 1.5px 1.5px #000;
}
#start:hover {
  background-color: #bababa;
  border-color: #5a5a5a  #fafafa  #fafafa #5a5a5a;
}

#window {
  background: silver;
  border-color: #fafafa #0f0f0f #0f0f0f #fafafa;
  box-shadow: 1.5px 1.5px #000;
}

#Labels{
  background: #fafafa;
  border-color:  #5a5a5a  #fafafa  #fafafa #5a5a5a;
  box-shadow: .5px .5px #000;
}
#time{
  background: silver;
  border-color: #5a5a5a  #fafafa  #fafafa #5a5a5a;
  box-shadow: .5px .5px #000;
}
#window:hover,#time:hover {
  background-color: #bababa;
  border-color: #0f0f0f  #fafafa  #fafafa #0f0f0f;
}
#From{
  background: none;
  border: none;
  outline: none;
}